<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link do arquivo de vue.js-->
    <script src="./vue.min.js"></script>
    <!-- Link do estilo css-->
    <link rel="stylesheet" href="./style.css">
    <title>Techno</title>
</head>
<body>

    <div id="app">
        <!-- Forma de inserir dados no html que estão no vue.js {{produtos}} -->

        <!-- HEADER -->
        <header class="header">
            <!-- Itens fixos como logo, são inseridos de forma estática-->
            <img class="logo" src="./assets/techno.svg" alt="Techno">
            <!-- Carrinho que armazena o total de itens em R$ e total em quantidade-->
            <!-- Quantidade pega o length do array que armazena os produtos-->
            <!-- R$ pega usa o filtro de formatação de valor para exibir o total em reais item computado-->
                                        <!-- Ao ser clicado, joga o carrinhoAtivo propriedade do vue para true -->
            <div class="carrinho_menu" @click="carrinhoAtivo = true">{{carrinhoTotal | numeroPreco}}  | {{carrinho.length}}</div>
            
        </header>

        <!-- MODAL -->
        <!-- O modal só será exibido em tela se existir produto usando o v-if-->
        <!-- O @click aqui indicado é para fechar o modal ao clicar na parte escura chama um método-->
        <section class="modal" v-if="produto" @click="fecharModal">
            <div class="modal_container">
                <!-- FOTO -->
                <div class="modal_img">
                    <!-- Usando o shorthand de v-bind para modificar dinamicamente o html-->
                    <img :src="produto.img" alt="produto.nome">
                </div>
                <!-- DADOS GERAIS MODAL-->
                <div class="modal_dados">
                    <!-- Botão para fechar o modal-->
                    <!-- Isso ocorre pois o produto exibe o modal por meio do v-if de produto-->
                    <!-- Então para fechar, basta mudar o estado de produto para falso-->
                    <button @click="produto = false" class="modal_fechar">X</button>

                    <span class="modal_preco">{{produto.preco | numeroPreco}}</span>
                    <h2 class="modal_titulo">{{produto.nome}}</h2>
                    <p class="modal_decricao">{{produto.descricao}}</p>
                    <!-- Lógica do botão: Se o houver quantidade em estoque do item, aparece o botão que aciona o método adicionarItem-->
                    <!-- Do contrário, aparece o mesmo botão só que sem chamar o método adicionarItem-->
                    <button v-if="produto.estoque" class="modal_btn" @click="adicionarItem">Adicionar Item</button>
                    <button v-else class="modal_btn modal_btn_sem_estoque" disabled>Produto Esgotado</button>
                </div>
                <!--AVALIAÇÕES-->
                <div class="avaliacoes">
                    <h2 class="avaliacoes_subtitulo">Avaliações</h2>
                    <ul class="">
                        <!--Loop no atributo do produto que é composto por diversas avaliações-->
                        <li v-for="avaliacao in produto.reviews" class="avaliacao">
                            <p class="avaliacao_descricao">{{avaliacao.descricao}}</p>
                            <p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- criando a lista de produtos-->
        <section class="produtos">
            <!-- v-for para iterar entre os produtos que vem da api-->
            <!-- @click chama o fetch de um único produto -->
            <div v-for="item in produtos" @click="abrirModal(item.id)" :key="item.id" class="produto">
                <!--Pegando os dados de produto e montando no front-->
                <img v-bind:src="item.img" :alt="item.nome" class="produto_img"> <!-- v-bind usando para alterar elementos no dom-->
                <!-- Separando as imagens das informações-->
                <div class="produto_info">
                    <!-- Atenção ao uso do filtro no html para o valor do produto após o pipe-->
                    <span class="produto_preco">{{item.preco | numeroPreco}}</span>
                    <h2 class="produto_titulo">{{item.nome}}</h2>
                </div>
            </div>
        </section>

        <!-- Criando o carrinho da página -->
                                        <!-- Classe inserida dinamicamente para indicar carrinho ativo-->
                                        <!-- Será possível fechar o modal ao clicar fora do carrinho também-->
        <section class="carrinho_modal" :class="{ativo: carrinhoAtivo}" @click="clickForaCarrinho">
            <div class="carrinho_container">
                <!-- Botão para fechar tela. Altera o status do carrinhoAtivo -->
                <button class="carrinho_fechar" @click="carrinhoAtivo = false">X</button>
                <h2 class="carrinho_titulo">Carrinho</h2>
                <!-- Utiliza o v-if e v-else para exibir os itens do carrinho ou em caso do carrinho vazio, exibir mensagem-->
                <div v-if="carrinho.length > 0">
                    <ul class="carrinho_lista">
                        <!-- Laço de repetição para repetir os itens do carrinho com v-for-->
                        <li v-for="(item, index) in carrinho" class="carrinho_item">
                            <p>{{item.nome}}</p>
                                                        <!-- Aplica filtro de preço-->
                            <p class="carrinho_preco">{{item.preco | numeroPreco}}</p>
                            <button class="carrinho_remover" @click="removerItem(index)">X</button>
                        </li>
                    </ul>
                    <!-- Exibe o total do carrinho-->
                    <p class="carrinho_total">Total: {{carrinhoTotal | numeroPreco}}</p>
                    <button class="carrinho_finalizar">Finalizar Compra</button>
                </div>
                <!-- Se o carrinho estiver vazio, exibe a mensagem abaixo-->
                <!-- Se estiver com pelo menos um item, ele exibe o item do carrinho-->
                <p v-else>O carrinho está vazio</p>
            </div>
        </section>

        <!-- Criando um alerta para página -->
        <!-- Usa-se o v-bind abreviado para inserir dinamicamente a classe ativo no html -->
        <!-- Se alertaAtivo = true, adiciona a classe ativo do contrário não adiciona -->
        <div class="alerta" :class="{ativo: alertaAtivo}">
            <!-- Exibe a mensagem que chega do vue-->
            <p class="alerta_mensagem">{{mensagemAlerta}}</p>
        </div>
    </div>




    <!--Arquivo js externo onde ficará o js com o código vue.js que escreveremos-->
    <script src="./app.js"></script>
</body>
</html>